ul {
    position: fixed;
    top: 0;
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:left;
}
li {
    float: right;
    padding-right: 30px;
    /*border-right: 1px solid #bbb;*/
}
a {
    display: block;
    padding: 8px;
    color: white;
}

li a:hover:not(.active) {
    color: white;
    border-radius: 6px;
    opacity: 0.7;
}
#katie{
  border-radius: 50%;
  width: 230px;
  margin-right: 50px;
  margin-bottom: 0px;

}
h1{
  /*margin: 100px 0px 0px 0px;*/
  font-size: 80px;
}
h2{
  font-size: 60px;
}
p{
  /*margin: 25px 150px 100px 80px;*/
}
.section {
  padding: 75px;
}
#home {
  background-color: blue;
  /*background-image: url(  https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  */background-size: cover;
}
#about {
  background-image: url(  https://images.pexels.com/photos/479453/pexels-photo-479453.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
}
#portfolio {
  background-image: url(  https://images.pexels.com/photos/5010/trunk-rings.jpg?h=350&auto=compress&cs=tinysrgb);
  background-size: cover;
}
#contact {
  background-image: url(
 https://images.pexels.com/photos/257937/pexels-photo-257937.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.fa {
    padding: 40px;
    font-size: 60px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    cursor:pointer;
}
.fa-linkedin {
    background: #4875B4;
    color: white;
}
.fa-github {
    background: #000000;
    color: white;
}
.fa-free-code-camp {
    background: #006400;
    color: white;
}
button{
  background: none;
}
#outer{
    width:100%;
    text-align: center;
    padding-top: 0px;
    border: 1px solid black;
}
.inner{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    border: 1px solid black;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.thumbnail{
    height: 150px;
    width: 250px;
    margin: 0px;
