ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:left;
    background-color: #333;
}
li {
    float: right;
    padding-right: 30px;
    font-size: 25px;
}
a {
    padding: 8px;
    color: white;
}
a:hover:not(.active) {
  color: #04b9d1;
}
li a:hover:not(.active) {
    border-radius: 6px;
}
a:visited {
  color: white;
}
#katie{
  border-radius: 50%;
  width: 230px;
  margin-right: 50px;
  margin-bottom: 0px;
}
h1{
  /*margin: 100px 0px 0px 0px;*/
  font-size: 80px;
}
h2{
  font-size: 60px;
}
h3{
  font-size: 40px;
}
h4 {
  font-weight: bold;
  font-size: 25px;
}
.section {
  padding: 75px;
}
.title {
  margin-top: 10%;
}
#home {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(  https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
#about {
  background-color: rgb(73, 75, 75);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
#portfolio {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/137219/pexels-photo-137219.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;
  background-size: cover;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    cursor:pointer;
}
.fa-linkedin {
    background: #4875B4;
    color: white;
}
.fa-github {
    background: #000000;
    color: white;
}
.fa-free-code-camp {
    background: #006400;
    color: white;
}
button{
  background: none;
}
.work{
  transition: 0.25s;
  border: solid 3px white;
  border-radius: 100px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.workButton a {
  text-decoration: none;
}
.work:hover{
  background: #04b9d1;
  text-decoration: none;
}uter{
    width:100%;
    text-align: center;
}
.inner{
    display: inline-block;
    vertical-align: top;
}
img {
    
}
.portfolio-item{
  display: flex;
  margin-top: 40px;
}
.details {
  text-align: left;
  padding-left: 20px;
}
.thumbnail{
    height: 200px;
    width: 320px;
    border-radius: 20px;
    transition: transform .2s;
  }
  .thumbnail:hover {
    transform: scale(1.1);
  }
