.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100vw;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}

@media all and (max-width: 700px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: #333;
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gray;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #c0c0c0;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media all and (max-width: 700px) {
  .logo {
    float: none;
  }
}

.row a:focus {
  color: #c0c0c0;
  text-decoration: none;
}

nav {
  float: right;
  width: 60%;
}

@media all and (max-width: 700px) {
  nav {
    width: 100vw;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

@media all and (max-width: 700px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100vw;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media all and (max-width: 700px) {
  nav ul li {
    width: 100vw;
    padding: 7px 0;
    margin: 0;
  }
}

nav ul a {
  color: #c0c0c0;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  color: #c0c0c0;
  font-size: 25px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  /*span {
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $lt-grey;
      display: block;
    }*/
}

@media all and (max-width: 700px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle:hover {
  color: #04b9d1;
}

@media all and (max-width: 700px) {
  .mobile-toggle:focus {
    color: #04b9d1;
  }
}

.row {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3vh;
  color: white;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: #04b9d1 !important;
  text-decoration: none;
}

@media all and (max-width: 700px) {
  a:focus {
    color: #04b9d1 !important;
    text-decoration: none;
  }
}

#katie {
  border-radius: 50%;
  width: 230px;
  margin-right: 50px;
  margin-bottom: 0px;
}

h1 {
  font-size: 13vh;
}

@media all and (max-width: 700px) {
  h1 {
    margin-top: 20vh;
    font-size: 12vw;
  }
}

h2 {
  font-size: 10vh;
}

@media all and (max-width: 700px) {
  h2 {
    font-size: 10vw;
  }
}

h3 {
  font-size: 6vh;
}

@media all and (max-width: 700px) {
  h3 {
    font-size: 5vw;
    margin-top: 8vh;
  }
}

h4 {
  font-weight: bold;
  font-size: 4vh;
}

.section {
  padding: 55px;
}

@media all and (max-width: 700px) {
  .section {
    padding: 5vw;
  }
}

.title {
  margin-top: 10%;
}

#home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#about {
  background-color: #494b4b;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(https://images.pexels.com/photos/137219/pexels-photo-137219.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/137219/pexels-photo-137219.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;
  background-size: cover;
}

.social {
  padding: 20px;
  font-size: 50px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.social:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media all and (max-width: 700px) {
  .social:focus {
    opacity: 0.7;
    cursor: pointer;
  }
}

.fa-linkedin {
  background: #4875B4;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-free-code-camp {
  background: #006400;
  color: white;
}

button {
  background: none;
  outline: none !important;
}

.work {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border: solid 3px white;
  border-radius: 100px;
  text-decoration: none;
  color: white !important;
  font-size: 25px;
  margin-top: 10vh;
}

@media all and (max-width: 700px) {
  .work {
    font-size: 5vw;
  }
}

.workButton a {
  text-decoration: none;
}

.work:hover {
  background: #04b9d1;
  text-decoration: none;
  color: #333 !important;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

@media all and (max-width: 700px) {
  .work:focus {
    background: #04b9d1;
    text-decoration: none;
    -webkit-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
}

.outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
  vertical-align: top;
}

@media all and (max-width: 700px) {
  .inner {
    display: block;
    margin: auto;
  }
}

.portfolio-item {
  margin: 40px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 700px) {
  .portfolio-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15vh;
  }
}

.details {
  text-align: left;
  padding-left: 20px;
}

.details a:hover {
  text-decoration: underline;
}

.details a:visited {
  color: white;
}

@media all and (max-width: 700px) {
  .details a:focus {
    text-decoration: underline;
  }
}

.thumbnail {
  height: auto;
  width: 35vw;
  border-radius: 20px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media all and (max-width: 700px) {
  .thumbnail {
    width: 75vw;
  }
}

.thumbnail:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media all and (max-width: 700px) {
  .thumbnail:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */