<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A bit about me</h2>
                <hr class="light">
                <p class="text-faded">I'm a dog lover and fitness enthusiast. You 
                    can find me out on a hike with my pup and exploring new places 
                    and trying new food. I am also an adaptable problem-solver with 
                    Spanish language fluency and several years of experience contributing 
                    to innovative programs on behalf of companies across high-growth sectors.</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Check out some of my projects below</a>
            </div>
        </div>
    </div>
</section>
