<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>I'd love to hear from you. Give me a call or send me an email and I will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-lg-offset-1 text-center">
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                    <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!--<p>{{ site.linkedin_username }}</p>-->
                </a>
            </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}" target="_blank">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.email }}</p>-->
                </a>
            </div>
            <!--<div class="col-lg-1 col-lg-offset-1 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                    <i class="fab fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>-->
            <div class="col-lg-1 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.github_username }}</p>-->
                </a>
            </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
                    <a href="https://github.com/{{ site.github_username_jama }}" target="_blank">
                    <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!--<p>{{ site.github_username }}</p>-->
                    </a>
                </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
                <a href="https://www.hackerrank.com/{{ site.hackerrank_username }}" target="_blank">
                <i class="fab fa-hackerrank fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.hackerrank_username }}</p>-->
                </a>
            </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
                <a href="https://www.freecodecamp.org/{{ site.freecodecamp_username }}" target="_blank">
                <i class="fab fa-free-code-camp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!--<p>{{ site.freecodecamp_username }}</p>-->
                </a>
            </div>
        </div>
    </div>
</section>
