<section class="no-padding" id="portfolio"><!--650 × 350-->
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/gepetto503/sisters-of-the-road-connects" class="portfolio-box">
                    <img src="img/portfolio/sistersoftheroadresized.png" class="img-responsive" alt="Screenshot of Sisters of the Road Connects resource app">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                    Sisters of the Road Connects
                            </div>
                            <div class="project-category text-faded">
                                    Collaborated with a hackathon team for a nonprofit, Sisters of the Road, 
                                    to create an iOS app helping displaced people find community 
                                    resources with an interactive map and alerts for police sweeps.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.bewander.com/" class="portfolio-box">
                    <img src="img/portfolio/bewander.png" class="img-responsive" alt="Screenshot of Bewander member site">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Bewander members site
                            </div>
                            <div class="project-category text-faded">
                                Helped put some finishing touches on an ASP.NET C# social networking 
                                website that helps travelers find hidden gems and explore new cities.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.learncodinganywhere.com/Podcasts" class="portfolio-box">
                    <img src="img/portfolio/TApodcastsresized.png" class="img-responsive" alt="Screenshot of the Tech Academy Podcast Library">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tech Academy Podcast Library
                            </div>
                            <div class="project-category text-faded">
                                    Assisted in developing an ASP.NET C# website that lists various YouTube 
                                    videos and audio files for easy access to the Tech Academy’s podcast library.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://katsaldivar.github.io/simon/" class="portfolio-box">
                    <img src="img/portfolio/simon.png" class="img-responsive" alt="Screenshot of the Simon Game">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Simon Game
                            </div>
                            <div class="project-category text-faded">
                                    This is a virtual version of the classic Simon game where users are presented 
                                    with a random series of button presses that they need to remember and need to repeat the sequence correctly.
                                    If the user presses a wrong button, they are reminded of the 
                                    correct pattern of if the game is in Strict mode, the game would restarts.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://katsaldivar.github.io/tic-tac-toe/" class="portfolio-box">
                    <img src="img/portfolio/tictactoe.png" class="img-responsive" alt="Screenshot of Star Wars Tic Tac Toe">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Star Wars Tic Tac Toe
                            </div>
                            <div class="project-category text-faded">
                                    Worked to develop a Star Wars themed tic tac toe game using Java Script 
                                    where you play against the computer and get to choose whether or not you 
                                    are a rebel or with the republic. May the Force be with you!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://katsaldivar.github.io/pomodoro-clock/" class="portfolio-box">
                    <img src="img/portfolio/pomodoro.png" class="img-responsive" alt="Screenshot of a pomodoro clock">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pomodoro Clock
                            </div>
                            <div class="project-category text-faded">
                                This elegant pomodoro clock allows users to customize the time they 
                                want to have for “work time” and “break time”. This clock includes a buzzer 
                                to alert the user when their time has expired.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://s.codepen.io/KatSaldivar/debug/gmBrYY/GnrnbVqpNdxr" class="portfolio-box">
                    <img src="img/portfolio/twitchviewer.png" class="img-responsive" alt="Screenshot of TwitchTV status streaming app">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                TwitchTV Status Streaming 
                            </div>
                            <div class="project-category text-faded">
                                Constructed a dashboard type page where users can see when a certain 
                                user’s twitch followers are streaming live with additional details 
                                about what they are streaming by utilizing Twitch.tv's JSONP API.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://s.codepen.io/KatSaldivar/debug/ZeRqBV/PNrvYLypOdOM" class="portfolio-box">
                    <img src="img/portfolio/wikipedia.png" class="img-responsive" alt="Screenshot of Wikipedia viewer">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Wikipedia Viewer
                            </div>
                            <div class="project-category text-faded">
                                Harmonized with Wikipedia’s API to create a site that allows users 
                                to search for a wikipedia article, including a button they can press 
                                to get a random Wikipedia page.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://s.codepen.io/KatSaldivar/debug/MorPwR/DqADdEGmDeLA" class="portfolio-box">
                    <img src="img/portfolio/weatherapp.png" class="img-responsive" alt="Screenshot of local weather app">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Local Weather
                            </div>
                            <div class="project-category text-faded">
                                Utilized the Weather Underground API to show the weather of the user’s 
                                location which was determined using the IPinfo API. This fun little app 
                                also responsively changes its background image in accordance with the 
                                current weather conditions and also lets you toggle between Celsius and 
                                Fahrenheit.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://s.codepen.io/KatSaldivar/debug/KWZQzp/WPALYGbDZppk" class="portfolio-box">
                    <img src="img/portfolio/quotegenerator.png" class="img-responsive" alt="Screenshot of the random quote generator">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Random Design Quote Generator
                            </div>
                            <div class="project-category text-faded">
                                Integrated with the Twitter API as well as the Quotes on Design API to 
                                build an application that allows users to click a button to get a new quote 
                                (and automatically change the background color) in addition to clicking a 
                                button to share that quote on twitter.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://katsaldivar.github.io/unicorn-calculator/" class="portfolio-box">
                    <img src="img/portfolio/calculator.png" class="img-responsive" alt="Screenshot of a unicorn themed calculator">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Unicorn Calculator 
                                <!--keep in bottom row!-->
                            </div>
                            <div class="project-category text-faded">
                                This fabulous unicorn themed calculator is made usingJavaScript.  
                                Users can add, subtract, multiply, and divide numbers or clear the input field if they decide.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="Hammers and tools">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Coming soon!
                            </div>
                            <div class="project-category text-faded">
                                Next project under construction now. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <!--<div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Category
                            </div>
                            <div class="project-category text-faded">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Category
                            </div>
                            <div class="project-category text-faded">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Category
                            </div>
                            <div class="project-category text-faded">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Category
                            </div>
                            <div class="project-category text-faded">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Category
                            </div>
                            <div class="project-category text-faded">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>-->
    </div>
</section>
